small {
	display: block;
	padding: 15px;
}

ion-content {
	--background: url('./../../../../assets/img/background.png') 0 0/100% 100% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.colorTextWhite {
	color: white;
}

ion-card,
ion-list,
ion-item {
	--background: transparent;
}

.mensajeWhite {
	color: white;
}

ion-grid {
	--ion-grid-width-xs: 100%;
	--ion-grid-width-sm: 540px;
	--ion-grid-width-md: 540px;
	--ion-grid-width-lg: 540px;
	--ion-grid-width-xl: 540px;
}

ion-input {
	background-color: white;
	border-radius: 5px;
	padding: 5px !important;
}
