.avatar {
	margin: auto;
}

.selector {
	--placeholder-color: red;
	background-color: white;
	max-width: 100% !important;
	width: 100% !important;
}

ion-content {
	--background: url('./../../../../assets/img/background.png') 0 0/100% 100% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

ion-list {
	border-radius: 10px;
}

ion-grid {
	--ion-grid-width-xs: 100%;
	--ion-grid-width-sm: 540px;
	--ion-grid-width-md: 720px;
	--ion-grid-width-lg: 960px;
	--ion-grid-width-xl: 1140px;
}

ion-item {
	--border-radius: 10px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
