<ion-tabs>
	<ion-tab-bar slot="bottom" color="secondary">
		<ion-tab-button tab="servicios">
			<ion-icon name="cog"></ion-icon>
			<ion-label>Servicios</ion-label>
		</ion-tab-button>

		<!-- <ion-tab-button tab="notificaciones">
			<ion-icon name="send"></ion-icon>
			<ion-label>Notificaciones</ion-label>
		</ion-tab-button> -->

		<ion-tab-button tab="contactanos">
			<ion-icon name="aperture"></ion-icon>
			<ion-label>Contactanos</ion-label>
		</ion-tab-button>

		<!-- <ion-tab-button tab="encuentranos">
			<ion-icon name="notifications"></ion-icon>
			<ion-label>Encuentranos</ion-label>
		</ion-tab-button> -->
	</ion-tab-bar>
</ion-tabs>
